<template>
  <div>
      <div v-bind:key="checklist.id" v-for="checklist in allChecklists">
          <Checklist v-bind:checklist="checklist" />
      </div>
  </div>
</template>

<script>
import Checklist from './Checklist'
import { mapActions, mapGetters } from 'vuex'
export default {
    components: {
        Checklist
    },
    name: "ChecklistManager",
    props: ["checklists"],
    methods: {
        ...mapActions(['fetchChecklist'])
    },
    computed: {
        ...mapGetters(['allChecklists'])
    }
}
</script>

<style>

</style>