<template>
  <div class="checklist-item" 
  v-bind:class="{'is-complete': checklist.completed}">
  <input type="checkbox" v-on:change="markComplete">
      {{checklist.title}}
  <button @click="deleteChecklist">Delete Checklist</button>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
    name:"Checklist",
    props: ["checklist"],
    methods: {
      ...mapActions(['removeChecklist', 'updateChecklist']),
      markComplete() {
        const updatedChecklist = {
          id: this.checklist.id,          
          title: this.checklist.title,
          completed: !this.checklist.completed
        }
        this.updateChecklist(updatedChecklist)
      },
      deleteChecklist() {
        this.removeChecklist(this.checklist)
      }
    }
}
</script>

<style>
  .checklist-item {
    background: #f4f4f4;
    padding: 10px;
    border-bottom: 1px #ccc dotted
  }
  .is-complete {
    text-decoration: line-through;
  }
</style>