<template>
  <div id="app">
    <Header/>
    <router-view></router-view>
    <AddChecklist/>
    <ChecklistManager/>
  </div>
</template>

<script>
import ChecklistManager from './components/ChecklistManager'
import AddChecklist from './components/AddChecklist'
import Header from './components/layout/Header';

export default {
  name: 'app',
  components: {
    Header,
    ChecklistManager,
    AddChecklist
  }
}
</script>

<style>
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
  }

  .btn {
    display: inline-block;
    border: none;
    background: #555;
    color: #fff;
    padding: 7px 50px;
    cursor: pointer;
  }

  .btn:hover {
    background: #666;
  }
</style>
